@import '~theme/_variables';
@import '~theme/_mixins';
@import '~theme/_media';

.button {
  @include flex-center;

  font-size: $font-size-m;
  font-weight: $font-weight-xl;
  color: $color-text;
  border: none;
  cursor: pointer;
  transition: $transition;
  gap: $space-s;

  &.default {
    padding: $space-m $space-l;
    background-color: $color-second-primary;
    border-radius: $border-radius-l;

    &:hover {
      background-color: $color-text;
      color: $color-second-primary;
    }
  }

  &.text {
    padding: 0 $space-s;

    &:hover {
      color: $color-second-primary;
    }
  }
}

@include respond-to('tablet') {
  .button {
    font-size: $font-size-s;

    &.default {
      padding: $space-s $space-m;
      border-radius: $border-radius-m;
    }
  }
}
